<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>
	<style>
			body {
				margin: 0;
				padding: 0;
				background-color: #ddeeee;
			}

			#navbar {
				background-color: #333344;
				height: 50px;
				text-align: left;
				font-size: 28px;
				font-family: 'Quicksand', sans-serif;
				color: white;
			}

			#navbar p {
				margin-left: 9px;
				line-height: 50px;
			}
	</style>
<body>
	<div id="navbar">
		<p>Chat Thang</p>
	</div>

	{% block body %}
	{% endblock %}
	
</body>
</html>