<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>
	<style>
			body {
				margin: 0;
				padding: 0;
				background-color: #ddeeee;
			}

			#navbar {
				background-color: #333344;
				height: 50px;
				font-family: 'Quicksand', sans-serif;
				color: white;
			}

			#navbar #title {
				margin-left: 9px;
				line-height: 50px;
				text-align: left;
				display: inline;
				font-size: 28px;
			}

			#navbar #logout {
				text-align: right;
				display: inline;
				color: white;
				text-decoration: none;
			}
	</style>
<body>
	<div id="navbar">
		<p id="title">Chat Thang</p>
		<a href="#" id="logout">Logout</a>
	</div>

	{% block body %}
	{% endblock %}


	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>
		// when a user logs out, run the logout route and send them to the login page
		$(document).on('click', '#logout', function(event){
			alert("woohoo");
			$("body").load("/logout");
		});
	</script>
</body>
</html>