<html>
	<head>
		<title>Online Instant Messaging Program</title>

		<style>

			body {
				margin: 0;
				padding: 0;
			}

			#online_users {
				display: inline-block;
				width: 30%;
				height: 400px;
				vertical-align: top;
			}

			#chat_box {
				display: inline-block;
				width: 60%;
				height: 400px;
			}

			.hidden {
				visibility: hidden;
			}

		</style>
	</head>
<body>

	<div id="online_users">
		<h4>Connected Users</h4>
		{% if users %}
			<ul>
			{% for user in users %}
				<li><a class="user_link" id="{{ user }}" href="#">{{ user }}</a></li>
			{% endfor %}
			</ul>
		{% endif %}
	</div>

	<div id="chat_box" class="hidden">

		<div id="log">
			<p>Log</p>
		</div>

		<form id="send_message">
			<input id="message" type="text" placeholder="Your message">
			<input type="submit">
		</form>

		<!-- <form id="join_room">
			User:<input type="text" id="user">
			Room:<input type="text" id="room">
			<input type="submit">
		</form> -->
	</div>


	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
	<script>
	$(document).ready(function(){
		// sets the current user
		var logged_in_user="{{ user }}";

		// connect the socket
	    var socket = io.connect('http://' + document.domain + ':' + location.port + "/chat");

	    // joins the current user to their own personal room
		socket.emit(
				'join room', 
				{'username': logged_in_user, 
				 'room': logged_in_user
				});
		console.log("The " + logged_in_user + " is being added to room:" + logged_in_user);

		$(".user_link").click(function(event){
			var user_to_talk_to = $(this).attr('id');
			var new_room = "bkinkeadmfbalder"
			// send command to user_to_talk_to's room
			socket.emit('receive command', {'command': 'J', 'body':new_room, 'room': user_to_talk_to});
			socket.emit('receive command', {'command': 'J', 'body':new_room, 'room': logged_in_user});
			// command: join new_room
			// send command to my room
			// command: join_new room
		});

		socket.on('interpret command', function(data){
			var command = data.command
			var command_body = data.body
			console.log(command + " " + command_body);
			if(command === 'J'){
				console.log("join");
				var new_room = command_body
				socket.emit('join room', {'username': logged_in_user, 'room': new_room}); 
			}
		});






		// // when the current user clicks on another user's username
		//  $(".user_link").click(function(event){
	 //    	var user_to_talk_to = $(this).attr('id');
	 //    	// establish a new room for the 2 users to share
	 //    	if(user_to_talk_to < logged_in_user){
	 //    		var new_room = user_to_talk_to + logged_in_user;
	 //    	} else {
	 //    		var new_room = logged_in_user + user_to_talk_to;
	 //    	}
	 //    	console.log(logged_in_user + "has been added to" + new_room)

	 //    	// current user joins the new room
	 //    	socket.emit('join room', {'username': logged_in_user, 'room': new_room});
	 //    	// current user tells other user to join the new room
	 //    	socket.emit('link users', {'command': 'join', 'connecting_user': logged_in_user, 'receiving_user': user_to_talk_to, 'new_room': new_room});

	 //    	// make a chat box visible
	 //    	$('#chat_box').removeClass("hidden");
	 //    });

		// if the current user receives a connection request
	    socket.on('make connection', function(response){
	    	console.log("receiving_user: " + response.receiving_user);
	    	if(response.receiving_user == logged_in_user){
	    		console.log(response);
	    		// have them join the new room
	    		socket.emit('join room', {'username': response.receiving_user, 'room': response.new_room});
	    		// make their chat box visible
	    		$('#chat_box').removeClass("hidden");
	    	}
	    	else {
	    		console.log("nada");
	    	}
	    	
	    });




	    // when the user sends a message, relay that message to the server
	    $('form#send_message').submit(function(event){
	    	event.preventDefault();
	    	socket.emit('my event', {data: $("#message").val()});
	    });

	    // when the client gets that message back from the server,
	    // display it in the log
	    socket.on('my response', function(response){
	    	$('#log').append('<p>' + response.user + ': ' + response.data + '</p>');
	    });

	    // when the user submits a room to join, call the join_room function on the server
	    $('form#join_room').submit(function(event){
	    	event.preventDefault();
	    	socket.emit('join room', {'username': $('#user').val(), 'room': $('#room').val()});
	    });

	   


	    // when click talk-to-micki:
	    //   send to micki room a "go join a room: joel_micki"
        //   join that room

	    // add a so.on("go join a room") that joins the data
	    // room
        //   you join that room

	});
	</script>

</body>
<html>

