<html>
<head>
	
</head>
<body>
	<form id="login_form" action="/set_session">
		Username<input type="text" name="user" id="user">
		<input type="submit">
	</form>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
	<script>

	$(document).ready(function(){
		// connect the socket
	    var socket = io.connect('http://' + document.domain + ':' + location.port + "/chat");

	    // when the user logs in, add them to their own room
		$('#login_form').submit(function(event){
			socket.emit('join', {'username': $('#user').val(), 'room': $('#user').val()});
		});
	});
	</script>

</body>
</html>